name: CI Workflows

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:

jobs:
  tests:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      display: true
      coverage: codecov
      libraries: |
        apt:
          - libxkbcommon-x11-0
          - libxcb-xinerama0-dev

      envs: |
        # Code style
        - linux: codestyle
          coverage: false

        # Standard tests
        - linux: py37-test
        - linux: py39-test

        - macos: py37-test
        - macos: py310-test

        - windows: py38-test

  publish:
    needs: tests
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@v1
    with:
      libraries: 'libxkbcommon-x11-dev libxcb-xinerama0-dev xvfb'
    secrets:
      pypi_token: ${{ secrets.pypi_token }}
